body{
					background-color:#d2b48c;
					margin-left:20%;
					margin-right:20%;
					border:2px dotted black;
					padding:10px 10px 10px 10px;
					font-family:sans-serif;
					font-weight:normal;
					color:black;
					
					}
				h1{
					color:yellow;
					}
				p1{
					color:blue;
					font-size:16px;
					text-decoration:underline;
					}